body {
	font-family: 'Lato', sans-serif;
	background-color: #f9f9f9;
}
.clear {clear: both;}
a {
	color: #444;
	text-decoration: none;
}


.pagination {
	text-align: center;
	margin-top: 20px;

	li {
		display: inline-block;
		padding: 10px 12px 10px 12px;
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 3px;
	}
	li:hover {
		background-color: #0088e8;
		color: white !important; 
		border-color: #0088e8;
	}
	li:hover a {
		color: white;
	}
}

.btn1 {
	background-color: #0088e8;
	padding: 8px 12px 8px 12px;
	color: white;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 3px;
	border:none;
	font-size: 16px;
}
.btn1:hover {
	opacity: .9;
}

header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	background-color: white;
	position: fixed;

	.logo {
		text-align: left;
		line-height: 70px;
		float: left;
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 600;
	}
}

aside {
	float: left;
	width: 20%;
	background-color: #ccc;
	position: fixed;
	height: 100%;
	background-image: url('../img/admin/sidebar.jpg');
	background-size: cover;
	background-position: center;
	top: 70px;

	ul {
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;

		li {
			padding: 12px;
			width: 100%;
			border-radius: 4px;
			background-color: rgba(255,255,255,.1);
			box-sizing:border-box;
			color: white;
			font-weight: 300;
			margin-top: 8px;
		}

		li:hover {
			background-color: rgba(255,255,255,.2);
		}
	}
}

#admin-panel-body {
	float: right;
	width: 80%;
	padding: 100px 40px 40px 40px;
	box-sizing: border-box;

	h1 {
		font-size: 30px;
		font-weight: 300;

	}

	#btns {
		margin: 15px 0px 15px 0px;
	}


	// tablas de muestra
	.tg  {
		border-collapse:collapse;
		border-spacing:0;
		border-color:#999;
		width: 100%;
	}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;  padding-left: 10px; box-sizing: border-box; line-height: 25px;}
	.tg td figure {height: 40px; width: 40px; overflow: hidden;}
	.tg td figure img {width: 100%;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4; text-align: left; padding-left: 10px; box-sizing: border-box}
	.tg .tg-us36{border-color:inherit;vertical-align:top}
	.tg .edit, .tg .delete {
		font-size: 18px;
		height: 25px;
		width: 25px;
		border:1px solid;
		line-height: 25px;
	}
	.tg .edit {color: green; border-color: green; }
	.tg .delete {color: red; margin-left: 5px; border-color: red }

	// Create products
	form {
		margin-top: 20px;
		
		label {
			input, select, textarea {
				width: 100%;
				display: block;
				padding: 10px;
				box-sizing: border-box;
				border: none;
				border: 1px solid #ddd;
				border-radius: 3px;
				margin: 5px 0px 10px 0px;
				background-color: white;
			}
			textarea {
				min-height: 230px;
				resize: none;
			}
			figure {
				height: 150px;
				width: 150px;
				overflow: hidden;
				background-color: #fff;
				border:1px solid #ddd;
				border-radius: 3px;
				margin-bottom: 10px;
				margin-top: 10px;
				display: flex;
				justify-content: center;
				align-items: center;	

				img {
					width: 100%;
				}
			}
		}

		button {
			margin-top: 10px;
		}
	}

}


.acciones-tabla {
	li {
		display: inline-block;
		list-style: none;
	}
}