@font-face {
  font-family: "BlockLetter";
  src: url("../fonts/blockletter.otf"); }
@font-face {
  font-family: "Trump";
  src: url("../fonts/trump_gothic_west.ttf"); }
* {
  min-height: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F3F3F3; }

@media (max-width: 480px) {
  .title {
    font-size: 8vw; } }
@media (max-width: 380px) {
  .title {
    font-size: 10vw; } }
.breadcrumbs {
  margin-bottom: 30px; }
  .breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    font-weight: 300; }

.aviso {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #000;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
  border-radius: 3px; }
  .aviso i {
    margin-right: 4px; }

.aviso-success {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.2);
  color: green; }

.map {
  padding-bottom: 30px; }
  .map li {
    display: inline-block;
    font-size: 14px; }

.clear {
  clear: both; }

a {
  color: #333;
  text-decoration: none;
  transition: .4s; }

a:hover {
  transition: .4s; }

h2 {
  font-size: 32px;
  font-weight: 600; }

.fondoLogin {
  background-image: url("../img/login.jpg");
  background-size: cover;
  background-position: center;
  height: 100vw;
  position: relative; }

.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px; }
  .pagination li {
    display: inline-block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1000px;
    width: 40px;
    height: 40px !important;
    line-height: 40px;
    padding-bottom: auto; }
  .pagination li:hover {
    border-color: #2c97df; }
  .pagination .active {
    color: #2c97df;
    border-color: #2c97df; }

header nav {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  header nav .logo {
    height: 90px; }
  header nav .b-menu {
    background-color: #333333;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    text-align: center;
    transition: .5s; }
    header nav .b-menu i {
      color: white;
      line-height: 62px;
      font-size: 30px; }
  header nav .b-menu:hover {
    background-color: #2c97df;
    transition: .5s; }
  @media (max-width: 1200px) {
    header nav {
      max-width: 90%; } }
  @media (max-width: 480px) {
    header nav {
      height: 100px; }
      header nav .logo {
        height: 60px; }
      header nav .b-menu {
        height: 50px;
        width: 50px; }
        header nav .b-menu i {
          line-height: 50px; } }
header #menu {
  z-index: 100;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white; }
  header #menu section {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    header #menu section ul {
      text-align: right; }
      header #menu section ul li {
        color: #333;
        font-size: 22px;
        font-weight: 300;
        padding: 5px 0px 5px 0px; }
      header #menu section ul a:hover {
        color: #2c97df; }
    header #menu section .b-menu-a {
      position: absolute;
      right: 23.7%;
      top: calc((155px / 2) - 30px);
      background-color: #2c97df;
      width: 60px;
      height: 60px;
      border-radius: 200px;
      text-align: center;
      transition: .5s; }
      header #menu section .b-menu-a i {
        color: white;
        line-height: 62px;
        font-size: 30px; }
    @media (max-width: 480px) {
      header #menu section {
        width: 100vw; } }

footer {
  max-width: 95%;
  margin: 0 auto; }
  footer .bg {
    height: 250px;
    background-image: url("../img/footer/bg.jpg");
    background-size: cover;
    background-position: top;
    position: relative; }
    footer .bg #newsletter {
      background-color: #333;
      color: white;
      position: absolute;
      top: 0px;
      left: 20px;
      padding: 60px 30px 30px 30px;
      box-sizing: border-box; }
      footer .bg #newsletter h2 {
        font-size: 16px;
        font-weight: 400; }
      footer .bg #newsletter h3 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 5px; }
        footer .bg #newsletter h3 i {
          margin-left: 20px;
          transition: .3s; }
    footer .bg #newsletter:hover > h3 i {
      color: #2c97df;
      transition: .3s; }
  footer .footbar {
    background-color: #2c97df;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    box-sizing: border-box; }
    footer .footbar p {
      font-size: 12px;
      width: 250px;
      text-align: right; }
    footer .footbar .copy {
      font-weight: 600;
      width: 250px;
      text-align: left; }
    footer .footbar .redes {
      display: flex;
      justify-content: space-between;
      width: 250px; }
      footer .footbar .redes li {
        margin: 0px 20px 0px 20px; }
        footer .footbar .redes li i {
          font-size: 30px; }

#login {
  background-image: url("../img/login/login.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }
  #login .content {
    max-width: 1300px;
    height: calc(100vh - 50px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 900px) {
      #login .content {
        display: block; } }
    #login .content .form {
      background-color: white;
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
      border-radius: 7px;
      padding: 40px;
      box-sizing: border-box;
      width: 550px;
      text-align: center; }
      #login .content .form img {
        height: 80px; }
      #login .content .form form {
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        color: #444444; }
        #login .content .form form label span {
          display: block;
          text-align: left;
          padding: 10px 0px 10px 0px;
          font-weight: 600; }
        #login .content .form form label .error {
          color: red;
          font-size: 12px;
          padding: 0px;
          font-weight: 400;
          margin: -5px 0px 5px 0px; }
        #login .content .form form label input {
          display: block;
          padding: 10px;
          box-sizing: border-box;
          border: none;
          border: 1px solid #ddd;
          border-radius: 4px;
          width: 100%; }
        #login .content .form form label button {
          border: none;
          width: 100%;
          background-color: #2c97df;
          padding: 12px 0px 12px 0px;
          color: white;
          font-size: 16px;
          font-family: "Roboto";
          border-radius: 3px;
          letter-spacing: .3px; }
        #login .content .form form .recuerdame {
          margin: 20px 0px 20px 0px;
          text-align: left !important; }
          #login .content .form form .recuerdame label input {
            display: inline-block !important;
            padding: 0px;
            border: none;
            width: auto !important; }
          #login .content .form form .recuerdame label span {
            display: inline-block !important;
            text-align: left !important;
            padding: 0px;
            font-weight: 600; }
        #login .content .form form .registrarme {
          margin-top: 20px;
          padding: 20px 0px 20px 0px;
          border-top: 1px solid #ddd; }
      @media (max-width: 900px) {
        #login .content .form {
          margin: 0 auto;
          max-width: 450px; }
          #login .content .form .registrarme a {
            display: block; } }
      @media (max-width: 530px) {
        #login .content .form {
          max-width: 90%;
          padding: 20px; } }
    @media (max-width: 1350px) {
      #login .content {
        max-width: 90%; } }
    @media (max-width: 900px) {
      #login .content {
        display: block;
        padding-top: 10vh; } }
  @media (max-width: 900px) {
    #login {
      background-color: #e8e8e8;
      background-image: none; } }
  @media (max-width: 350px) {
    #login {
      width: 100%; } }

.register {
  background-image: url("../img/login/registro.jpg") !important; }
  @media (max-width: 900px) {
    .register {
      background-image: none !important; } }

.recuperar {
  background-color: #e8e8e8;
  background-image: none !important; }
  .recuperar .content {
    justify-content: center !important; }

#banner li {
  height: calc(100vh - 155px);
  width: 100%;
  max-width: 100%;
  align-items: center; }
  #banner li figure {
    height: 63vh;
    overflow: hidden;
    display: flex;
    align-items: center; }
    #banner li figure img {
      width: 100%; }
    @media (max-width: 780px) {
      #banner li figure {
        height: 40vh; } }
  #banner li .content {
    width: 1100px;
    margin: 0 auto; }
    #banner li .content section {
      position: relative;
      width: 800px;
      height: 45vh;
      background-color: #F3F3F3;
      margin-top: -30.5vh;
      z-index: 2;
      padding: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #333;
      border-right: 5px solid #333; }
      #banner li .content section h2 {
        font-size: 32px;
        font-weight: 800;
        line-height: 30px; }
        @media (max-width: 768px) {
          #banner li .content section h2 {
            font-size: 22px; } }
      #banner li .content section p {
        font-size: 17px;
        font-weight: 500;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 40px; }
        @media (max-width: 768px) {
          #banner li .content section p {
            font-size: 14px; } }
      #banner li .content section .link {
        position: relative;
        padding-bottom: 4px;
        color: #333;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 2px solid #2c97df;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #banner li .content section .link i {
          padding-left: 5px; }
      #banner li .content section .link:hover {
        padding-right: 20px; }
      #banner li .content section .link:hover > i {
        color: #2c97df;
        transition: .3s; }
      @media (max-width: 1000px) {
        #banner li .content section {
          width: 90%;
          margin: 0 auto;
          margin-top: -100px; } }
      @media (max-width: 480px) {
        #banner li .content section {
          padding: 40px; } }
    @media (max-width: 1150px) {
      #banner li .content {
        max-width: 100%; } }
  @media (max-width: 768px) {
    #banner li {
      height: auto; } }

#productos-index {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }
  #productos-index .content {
    width: 100%;
    max-width: 65%;
    float: left;
    padding-top: 90px; }
    #productos-index .content section {
      margin-top: 50px;
      display: flex;
      justify-content: space-between; }
      #productos-index .content section .opciones {
        width: 100%;
        max-width: 250px; }
        #productos-index .content section .opciones li {
          font-size: 28px;
          font-weight: 100;
          border-bottom: 2px dotted;
          border-color: rgba(0, 0, 0, 0.1);
          padding: 10px 0px 10px 0px; }
        #productos-index .content section .opciones .active {
          font-weight: 300 !important; }
        @media (max-width: 780px) {
          #productos-index .content section .opciones {
            max-width: 100%; } }
        @media (max-width: 480px) {
          #productos-index .content section .opciones li {
            font-size: 20px; } }
      #productos-index .content section .opcionContent {
        max-width: 700px;
        padding: 0px 50px 0px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #productos-index .content section .opcionContent li article p {
          font-size: 16px;
          line-height: 25px; }
        @media (max-width: 780px) {
          #productos-index .content section .opcionContent {
            width: 100%;
            max-width: 100%;
            padding: 60px 0px 60px 0px; } }
      @media (max-width: 780px) {
        #productos-index .content section {
          display: block; } }
    @media (max-width: 780px) {
      #productos-index .content {
        float: none;
        padding-top: 20px;
        max-width: 100%; } }
  #productos-index aside {
    width: 100%;
    max-width: 35%;
    float: right; }
    #productos-index aside ul li {
      overflow: hidden;
      width: 100%;
      text-align: center;
      height: 550px;
      display: flex;
      justify-content: center; }
      #productos-index aside ul li img {
        width: auto;
        height: 100%; }
    @media (max-width: 780px) {
      #productos-index aside {
        max-width: 100%;
        float: none; } }
  #productos-index .op2, #productos-index .op3, #productos-index .op4, #productos-index .op5 {
    display: none; }
  @media (max-width: 1250px) {
    #productos-index {
      width: 90%; } }

#portfolio-index {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0px 80px 0px; }
  #portfolio-index .portfolio-ul {
    margin-top: 30px;
    box-sizing: border-box; }
    #portfolio-index .portfolio-ul li {
      overflow: hidden;
      max-height: 450px;
      box-sizing: border-box;
      position: relative; }
      #portfolio-index .portfolio-ul li figure {
        width: 55%;
        height: 100%;
        float: left;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
        #portfolio-index .portfolio-ul li figure img {
          max-height: 450px; }
        @media (max-width: 780px) {
          #portfolio-index .portfolio-ul li figure {
            max-width: 30%; } }
        @media (max-width: 455px) {
          #portfolio-index .portfolio-ul li figure {
            width: 10%;
            max-height: 300px; } }
      #portfolio-index .portfolio-ul li article {
        width: 40%;
        float: left;
        padding: 20px 60px 20px 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px; }
        #portfolio-index .portfolio-ul li article h2 {
          font-size: 27px;
          font-weight: 700; }
        #portfolio-index .portfolio-ul li article h3 {
          font-size: 26px;
          font-weight: 100; }
        #portfolio-index .portfolio-ul li article p {
          font-size: 15px;
          font-weight: 300;
          line-height: 25px;
          margin-top: 30px; }
        @media (max-width: 780px) {
          #portfolio-index .portfolio-ul li article {
            width: calc(70% - 5%); } }
        @media (max-width: 480px) {
          #portfolio-index .portfolio-ul li article {
            padding: 20px; }
            #portfolio-index .portfolio-ul li article h2, #portfolio-index .portfolio-ul li article h3 {
              font-size: 22px; } }
        @media (max-width: 455px) {
          #portfolio-index .portfolio-ul li article {
            width: calc(90% - 5%);
            max-height: 300px; } }
      #portfolio-index .portfolio-ul li .next {
        width: 5%;
        right: 0px;
        background-color: #333333;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
        cursor: pointer; }
        #portfolio-index .portfolio-ul li .next i {
          color: white;
          font-size: 45px; }
        @media (max-width: 455px) {
          #portfolio-index .portfolio-ul li .next {
            max-height: 300px; }
            #portfolio-index .portfolio-ul li .next i {
              font-size: 25px; } }
      #portfolio-index .portfolio-ul li .next:hover {
        transition: .4s;
        opacity: .9; }
  @media (max-width: 1250px) {
    #portfolio-index {
      max-width: 90%; } }

#blog-index {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 0px 80px 0px; }
  @media (max-width: 950px) {
    #blog-index {
      max-width: 90%; } }
  #blog-index ul {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    #blog-index ul li {
      width: 32%;
      text-align: left; }
      @media (max-width: 780px) {
        #blog-index ul li {
          width: 100%;
          padding: 20px 0px 20px 0px; } }
      #blog-index ul li figure {
        display: flex;
        justify-content: center;
        height: 280px;
        overflow: hidden;
        position: relative; }
        #blog-index ul li figure .hover {
          opacity: 0;
          background-color: rgba(233, 48, 43, 0.9);
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 99;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .4s; }
          #blog-index ul li figure .hover i {
            color: white;
            font-size: 35px; }
        #blog-index ul li figure img {
          position: relative;
          height: 100%;
          width: auto; }
      #blog-index ul li figure:hover > .hover {
        opacity: 1;
        transition: .4s; }
      #blog-index ul li h3 {
        font-weight: 600;
        font-size: 15px;
        margin-top: 60px;
        color: #333; }
      #blog-index ul li p {
        margin-top: 20px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px; }
      #blog-index ul li a {
        text-decoration: underline;
        font-size: 13px !important; }
    @media (max-width: 780px) {
      #blog-index ul {
        display: block; } }

#blog {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 0px 80px 0px; }
  @media (max-width: 1150px) {
    #blog {
      max-width: 90%; } }
  #blog ul {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; }
    #blog ul li {
      text-align: left;
      flex-basis: calc(33% - 20px);
      max-width: calc(33% - 20px);
      margin: 10px;
      margin-top: 30px; }
      #blog ul li figure {
        display: flex;
        justify-content: center;
        height: 280px;
        overflow: hidden;
        position: relative; }
        #blog ul li figure .hover {
          opacity: 0;
          background-color: rgba(233, 48, 43, 0.9);
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 99;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .4s; }
          #blog ul li figure .hover i {
            color: white;
            font-size: 35px; }
        #blog ul li figure img {
          position: relative;
          height: 100%;
          width: auto; }
      #blog ul li figure:hover > .hover {
        opacity: 1;
        transition: .4s; }
      #blog ul li h3 {
        font-weight: 600;
        font-size: 15px;
        margin-top: 60px;
        color: #333; }
        @media (max-width: 780px) {
          #blog ul li h3 {
            margin-top: 30px; } }
      #blog ul li p {
        margin-top: 20px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px; }
      #blog ul li a {
        text-decoration: underline;
        font-size: 13px !important; }
      @media (max-width: 780px) {
        #blog ul li {
          flex-basis: calc(50% - 20px);
          max-width: calc(50% - 20px); } }
      @media (max-width: 480px) {
        #blog ul li {
          flex-basis: 100%;
          max-width: 100%; } }

#banner-noticia {
  height: 450px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  #banner-noticia img {
    width: 100%; }

#noticia {
  max-width: 900px;
  margin: 0 auto;
  padding: 70px 0px 70px 0px; }
  #noticia .volver i {
    font-size: 30px; }
  #noticia h2 {
    padding-top: 20px; }
  #noticia p {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px; }
    #noticia p strong {
      font-size: 17px;
      font-weight: 600; }

#about {
  max-width: 1200px;
  margin: 0 auto; }
  #about #cabecera h2 {
    padding-top: 20px; }
  #about #cabecera p {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    max-width: 600px; }
  #about .items {
    padding: 50px 0px 50px 0px; }
    #about .items li {
      display: flex;
      justify-content: space-between; }
      #about .items li figure {
        height: 550px;
        width: 550px; }
        #about .items li figure img {
          height: 100%; }
        @media (max-width: 1000px) {
          #about .items li figure {
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 300px; } }
        @media (max-width: 700px) {
          #about .items li figure {
            padding: 0px;
            margin: 0 auto;
            padding: 10px 0px 10px 0px;
            height: 300px;
            display: none; } }
      #about .items li article {
        display: flex;
        align-items: center; }
        #about .items li article h2 {
          padding-top: 20px; }
        #about .items li article p {
          padding-top: 30px;
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          max-width: 600px; }
      @media (max-width: 780px) {
        #about .items li {
          display: block; } }
  @media (max-width: 1250px) {
    #about {
      max-width: 90%; } }

#servicios {
  max-width: 1100px;
  margin: 0 auto; }
  #servicios #cabecera h2 {
    padding-top: 20px; }
  #servicios #cabecera p {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    max-width: 600px; }
  #servicios .buttons {
    padding: 50px 0px 50px 0px;
    margin: 0 auto;
    text-align: center; }
    #servicios .buttons li {
      display: inline-block;
      max-width: 18%;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0px 5px 0px 5px;
      font-size: 13px;
      transition: .3s;
      font-weight: 600; }
    #servicios .buttons li:hover {
      background-color: #2c97df;
      color: white;
      transition: .3s; }
  #servicios .content {
    padding: 0px 0px 50px 0px; }
    #servicios .content li {
      display: none;
      position: relative;
      margin: 0px 0px 80px 0px; }
      #servicios .content li figure {
        overflow: hidden;
        height: 500px;
        display: flex;
        align-items: center; }
        #servicios .content li figure img {
          width: 100%; }
      #servicios .content li article {
        position: absolute;
        left: 20px;
        bottom: -50px;
        max-width: 70%;
        background-color: white;
        padding: 50px;
        box-sizing: border-box;
        box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.26); }
        #servicios .content li article h2 {
          font-weight: 800; }
        #servicios .content li article p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 22px; }
          #servicios .content li article p b {
            color: #2c97df;
            font-weight: 600; }
    #servicios .content #c1 {
      display: block; }

#productos {
  max-width: 95%;
  margin: 0 auto;
  width: 100%; }
  #productos #cabecera {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px; }
    #productos #cabecera h2 {
      padding-top: 20px; }
    #productos #cabecera p {
      padding-top: 30px;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      max-width: 600px; }
    @media (max-width: 1050px) {
      #productos #cabecera {
        max-width: 90%; } }
  #productos .content {
    padding: 50px 0px 50px 0px;
    background-color: white;
    max-width: 100%;
    width: 100%; }
    #productos .content .categories {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap; }
      #productos .content .categories li {
        position: relative;
        flex-basis: calc(33% - 20px);
        max-width: calc(33% - 20px);
        background-color: white;
        height: 450px;
        margin: 10px; }
        @media (max-width: 1050px) {
          #productos .content .categories li {
            height: 300px; } }
        @media (max-width: 780px) {
          #productos .content .categories li {
            flex-basis: calc(50% - 20px);
            max-width: calc(50% - 20px); } }
        @media (max-width: 480px) {
          #productos .content .categories li {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0px;
            margin-top: 10px; } }
        #productos .content .categories li figure {
          overflow: hidden; }
          #productos .content .categories li figure img {
            position: relative;
            height: 450px;
            min-width: 100%;
            transition: .3s; }
            @media (max-width: 1050px) {
              #productos .content .categories li figure img {
                height: 300px; } }
        #productos .content .categories li section {
          position: absolute;
          bottom: 20px;
          left: 0px;
          background-color: white;
          padding: 10px 30px 10px 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: .3s; }
          #productos .content .categories li section h2 {
            font-weight: 100; }
            @media (max-width: 1050px) {
              #productos .content .categories li section h2 {
                font-size: 20px; } }
      #productos .content .categories li:hover > a figure img {
        opacity: .2;
        transition: .4s; }
      #productos .content .categories li:hover > a section {
        padding-right: 60px;
        transition: .7s; }
      @media (max-width: 1150px) {
        #productos .content .categories {
          max-width: 90%; } }
    #productos .content .products {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap; }
      #productos .content .products li {
        position: relative;
        flex-basis: calc(33% - 20px);
        max-width: calc(33% - 20px);
        background-color: white;
        height: 330px;
        margin: 10px; }
        @media (max-width: 780px) {
          #productos .content .products li {
            flex-basis: calc(50% - 20px);
            max-width: calc(50% - 20px); } }
        @media (max-width: 480px) {
          #productos .content .products li {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0px;
            margin-top: 20px; } }
        #productos .content .products li figure {
          overflow: hidden;
          display: flex;
          justify-content: center; }
          #productos .content .products li figure img {
            position: relative;
            height: 330px;
            transition: .3s; }
        #productos .content .products li section {
          position: absolute;
          bottom: 20px;
          left: 0px;
          background-color: white;
          padding: 10px 30px 10px 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: .3s; }
          #productos .content .products li section h2 {
            font-weight: 100;
            font-size: 18px; }
      #productos .content .products li:hover > a figure img {
        opacity: .2;
        transition: .4s; }
      #productos .content .products li:hover > a section {
        padding-right: 60px;
        transition: .7s; }
  #productos #products {
    padding: 20px 0px 50px 0px !important;
    background-color: #F3F3F3 !important; }

#contacto {
  max-width: 95%;
  margin: 0 auto; }
  #contacto #cabecera {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px; }
    #contacto #cabecera h2 {
      padding-top: 20px; }
    #contacto #cabecera p {
      padding-top: 30px;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      max-width: 600px; }
  #contacto .content {
    background-color: white;
    padding: 50px 0px 50px 0px; }
    #contacto .content #datos-contacto {
      max-width: 1100px;
      margin: 0 auto; }
      #contacto .content #datos-contacto h2 {
        padding-bottom: 5px; }
      #contacto .content #datos-contacto ul li {
        font-size: 17px;
        margin-top: 5px; }
        #contacto .content #datos-contacto ul li i {
          width: 20px;
          text-align: center; }
    #contacto .content form {
      padding-top: 50px;
      max-width: 1100px;
      margin: 0 auto; }
      #contacto .content form .form {
        display: flex;
        justify-content: space-between; }
        #contacto .content form .form section {
          width: 48%; }
          #contacto .content form .form section .input p {
            font-size: 15px;
            font-weight: 300; }
          #contacto .content form .form section .input input, #contacto .content form .form section .input textarea {
            width: 100%;
            margin: 10px 0px 10px 0px;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 4px;
            border: none;
            border: 1px solid #ddd; }
          #contacto .content form .form section .input textarea {
            height: 176px;
            resize: none; }
      #contacto .content form button {
        border: none;
        background-color: #2c97df;
        padding: 10px 20px 10px 20px;
        color: white;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 300; }

#newsletter-section #cabecera {
  padding-bottom: 50px; }
  #newsletter-section #cabecera h2 {
    padding-top: 20px;
    max-width: 1100px;
    margin: 0 auto; }
#newsletter-section #suscripcion {
  background-color: white;
  max-width: 95%;
  margin: 0 auto;
  padding: 50px 0px 50px 0px; }
  #newsletter-section #suscripcion form {
    max-width: 900px;
    margin: 0 auto; }
    #newsletter-section #suscripcion form .inputs {
      display: flex;
      justify-content: space-between; }
      #newsletter-section #suscripcion form .inputs div {
        width: 100%;
        max-width: 48%; }
      #newsletter-section #suscripcion form .inputs p {
        font-weight: 400;
        margin-bottom: 4px;
        font-size: 15px; }
      #newsletter-section #suscripcion form .inputs input {
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        border: 1px solid #ddd; }
    #newsletter-section #suscripcion form hr {
      height: 1px;
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 20px 0px 20px 0px; }
    #newsletter-section #suscripcion form .accept {
      display: flex;
      justify-content: space-between; }
      #newsletter-section #suscripcion form .accept input {
        width: 60px; }
      #newsletter-section #suscripcion form .accept p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300; }
    #newsletter-section #suscripcion form button {
      background-color: #333;
      padding: 8px 17px 8px 17px;
      color: white;
      font-weight: 400;
      border: none;
      text-transform: uppercase; }
    #newsletter-section #suscripcion form button:hover {
      background-color: #2c97df; }
    #newsletter-section #suscripcion form .disabled {
      opacity: .5; }
    #newsletter-section #suscripcion form .disabled:hover {
      background-color: #333 !important; }

#proyectos #cabecera {
  max-width: 1000px;
  margin: 0 auto; }
  #proyectos #cabecera h2 {
    padding-top: 20px; }
  #proyectos #cabecera p {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    max-width: 600px; }
  @media (max-width: 1050px) {
    #proyectos #cabecera {
      max-width: 90%; } }
#proyectos ul {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px; }
  @media (max-width: 1050px) {
    #proyectos ul {
      max-width: 90%; } }
  #proyectos ul li {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px; }
    @media (max-width: 780px) {
      #proyectos ul li {
        height: 400px; } }
    #proyectos ul li figure {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      overflow: hidden; }
      #proyectos ul li figure img {
        width: 100%;
        height: 100vh;
        object-fit: cover; }
    #proyectos ul li a {
      color: white !important; }
    #proyectos ul li section {
      position: absolute;
      opacity: 0;
      background-color: rgba(233, 48, 43, 0.9);
      width: 70%;
      height: 70%;
      box-sizing: border-box;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .6s; }
      #proyectos ul li section h3 {
        font-size: 50px;
        font-weight: 700; }
      #proyectos ul li section h4 {
        font-weight: 300;
        font-size: 23px;
        margin-top: 10px; }
      @media (max-width: 780px) {
        #proyectos ul li section h3 {
          font-size: 30px; } }
      @media (max-width: 480px) {
        #proyectos ul li section {
          width: 90%;
          padding: 0px 10px 0px 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          #proyectos ul li section h3 {
            font-size: 20px; }
          #proyectos ul li section h4 {
            font-size: 16px; } }
  #proyectos ul li:hover > section {
    opacity: 1;
    transition: .6s; }

#banner-proyecto {
  height: 450px;
  background-color: #333;
  overflow: hidden; }
  #banner-proyecto li {
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    #banner-proyecto li img {
      height: 100%; }
    #banner-proyecto li div {
      opacity: 0;
      transition: .4s;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 30px); }
      #banner-proyecto li div i {
        background-color: #2c97df;
        color: white;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 65px;
        border-radius: 1000px;
        font-size: 25px; }
  #banner-proyecto li:hover > div {
    opacity: 1;
    transition: .4s; }

#proyecto {
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 0px 70px 0px;
  overflow: hidden; }
  #proyecto .content {
    float: left;
    width: 70%; }
    #proyecto .content h2 {
      padding-top: 20px; }
    #proyecto .content p {
      padding-top: 30px;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px; }
      #proyecto .content p strong {
        font-size: 17px;
        font-weight: 600; }
    @media (max-width: 780px) {
      #proyecto .content {
        width: 100%; } }
  @media (max-width: 1050px) {
    #proyecto {
      max-width: 90%; } }
  #proyecto aside {
    float: right;
    width: 26%;
    background-color: white; }
    #proyecto aside iframe {
      width: 100%;
      height: 200px; }
    #proyecto aside ul {
      padding: 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #proyecto aside ul li {
        margin-top: 30px; }
        #proyecto aside ul li h4 {
          font-weight: 600;
          color: #333;
          font-size: 15px; }
        #proyecto aside ul li h5 {
          font-weight: 300;
          color: #333;
          margin-top: 6px;
          font-size: 15px; }
      #proyecto aside ul li:nth-child(1) {
        margin-top: 0px; }
    @media (max-width: 780px) {
      #proyecto aside {
        margin-top: 40px;
        width: 100%; } }

#loading {
  position: fixed;
  z-index: 999999999999999999999999999;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  color: #000; }

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #0080c8;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=estilo.css.map */
